@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  color: white;
}

html {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  min-height: 100%;
  background-image: url(assets/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 900px;
}

header {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 100px;
}

header img {
  height: 50px;
}

#title {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 60px;
  font-weight: 400;
  width: 350px;
  padding-bottom: 40px;
  line-height: 50px;
}

#title span {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 60px;
  font-weight: 700;
}

#istructionsContainer {
  width: 600px;
}

#instructions {
  color: #d20094;
  font-size: 30px;
  padding-bottom: 10px;
}

ul {
  padding: 40px 0px 40px 30px;
}

footer {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
}

footer div {
  display: flex;
  align-items: center;
  gap: 10px;
}

#checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid white;
  position: relative;
  cursor: pointer;
  background-color: transparent;
}

#checkbox:checked::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background-color: #00ffff;
  transform: translate(-50%, -50%);
}

#button {
  background-color: #00ffff;
  height: 60px;
  width: 220px;
  font-weight: 900;
  font-size: 20px;
  color: rgb(12, 17, 59);
}

#button:hover {
  box-shadow: 0px 0px 30px #00ffff;
}

#button:disabled {
  opacity: 0.6;
}
