@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

body {
    padding: 0;
    margin: 0px 100px;
    background-image: url(assets/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


.bd-img {
    display: flex;
    flex-direction: column;
}

.navbar {
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    width: 200px;
    height: 50px;
}

.container {
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.question {
    color: white;
    margin: 0px;
}

#customRadio input {
    appearance: none;
    width: 300px;
    height: 65px;
    border: 1px solid #999;
    border-radius: 50px;
    outline: none;
    box-shadow: 0 0 5px #999;
    transition: box-shadow 0.3s ease;
    background-color: white;
    opacity: 0.5;
}

#customRadio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 700px;
    gap: 30px;
    margin: 70px 0px;
}

#questionsText {
    height: 250px;
    max-width: 500px;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 25px;
}

.questionLog{
    color: white;
    height: 15vh;
    display: flex;
    align-items: end;
    margin-bottom: 80px;
    font-size: 25px;
    gap: 30px;
}

.rightSpan{
    color: #D20094;
}